

<ion-content>

  <div  align="center" padding class="background">
      <ion-icon name="paw" color="primary" > </ion-icon>
      <ion-card class="welcome-card">
        <img src="/assets/intro/bff.jpg" alt="" />
      </ion-card>
      <ion-icon name="paw" color="medium" > </ion-icon>
      <h6>
        All animals in my application are in need for a second chance.<br>
        They have been lost, given up or abandoned. They are all unwanted and helpless. You are giving them a new life in a loving home.
      </h6>
      <ion-badge color="medium">Click the button below!</ion-badge>
      <br>
      <ion-icon name="arrow-down" color="medium"></ion-icon>
      <br>
      <ion-button color="primary"(click)="goToHome()">Let's go!</ion-button>
      <br>
      <br>

    </div>

</ion-content>
