
<ion-button (click)="goToTab()" color="primary" size="undefined" fill="solid"> Click to see animals for adoption <ion-icon name="photos"></ion-icon></ion-button>


<ion-content >
  <p class="family" color="lightgrey"> <ion-icon name="paw" color="primary"></ion-icon> Happy Families <ion-icon name="paw" color="primary"> </ion-icon> </p>
  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt8.jpg">
      <ion-card-title><ion-badge color="medium">Pepa</ion-badge> </ion-card-title>
      <ion-card-subtitle>5 months</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Pipi  now is  in Kriva Palanka.
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt7.jpg">
      <ion-card-title><ion-badge color="medium">Pipi</ion-badge> </ion-card-title>
      <ion-card-subtitle>2 months</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Pipi  now is  in Veles.
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt1.jpg">
      <ion-card-title><ion-badge color="medium">LONI</ion-badge> </ion-card-title>
      <ion-card-subtitle>1 year</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Loni now is  in Veles. <br> Very friendly dog,love kids!
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt2.jpg">
      <ion-card-title><ion-badge color="medium">ROY</ion-badge></ion-card-title>
      <ion-card-subtitle>6 months</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Now in Ohrid<br>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt3.jpg">
      <ion-card-title> <ion-card-title><ion-badge color="medium">BONNIE</ion-badge></ion-card-title></ion-card-title>
      <ion-card-subtitle>3 years</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Now in Skopje
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt4.jpg">
      <ion-card-title> <ion-card-title><ion-badge color="medium">BON</ion-badge></ion-card-title></ion-card-title>
      <ion-card-subtitle>8 months</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Big boy,with big heart,now in Prilep
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt5.png">
      <ion-card-title> <ion-card-title><ion-badge color="medium">KLARA</ion-badge></ion-card-title></ion-card-title>
      <ion-card-subtitle>1 year</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Now in Struga
    </ion-card-content>
  </ion-card>



  <ion-card class="card">
    <ion-card-header>
      <img src="assets/family/adopt6.jpg">
      <ion-card-title> <ion-card-title><ion-badge color="medium">BUBE</ion-badge></ion-card-title></ion-card-title>
      <ion-card-subtitle>5 yearS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    Now in Struga
    </ion-card-content>
  </ion-card>

</ion-content>
