<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <ion-icon name="home"> </ion-icon>
     Contact us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Address</ion-card-subtitle>
      <ion-card-title>15ti Korpus br.134 Ohrid,Macedonia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Monday – Saturday: 3PM – 4:30PM
      <br>
      2nd & 3rd Fridays: 10AM-2PM
      <br>
      Saturday: Closed <ion-icon name="key"> </ion-icon>
      <br>
      Sunday: Closed <ion-icon name="key"> </ion-icon>
      <br>

      <ion-badge color="primary"> <ion-icon name="call"></ion-icon> (928) 640-1500 </ion-badge>
    </ion-card-content>
  </ion-card>

  <div #mapElement class="map"></div>
</ion-content>
